MONGODB_URI=mongodb+srv://<ユーザー名>:<パスワード>@<クラスター>.mongodb.net/omoide?retryWrites=true&w=majority
CLOUDINARY_CLOUD_NAME=あなたのcloud_name
CLOUDINARY_API_KEY=あなたのapi_key
CLOUDINARY_API_SECRET=あなたのapi_secret
